# Python temps
__pycache__/
*.py[cod]
*$py.class
build/
dist/
eggs/
.eggs/
*.egg-info/
*.egg
.tox/

# Editor Temps
.*.sw?
*~
\#*\#
.desktop

test_tmp
funnel-work-dir
.coverage
local_file_store
.ipynb_checkpoints